@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Orbitron', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap') format('truetype');
}


/* Slider styling */
input[type="range"] {
  /* set the height and width of the slider */
  height: 5px;
  width: 50%;
  margin-top: 8px;

  /* remove the default styles */
  -webkit-appearance: none;
  -moz-apperance: none;
  appearance: none;

  /* set the background color to white */
  background-color: #CCCCCC;

  /* set the border radius to zero for square edges */
  border-radius: 0;

  /* set the track color to grey */
  background-image: linear-gradient(to right, #CCCCCC, #CCCCCC);

  /* set the thumb color to grey */
  cursor: pointer;
}

/* hide the default thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* style the thumb */
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 30%;
  background-color: #184E77;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 30%;
  background-color: #184E77;
  cursor: pointer;
}